## Lógica de programação II - Dicionários

Na aula de hoje, iremos explorar os seguintes tópicos em Python:
- Dicionários

### Dicionários

Uma outra estrutura de dados bem importante em Python são os **dicionários**.

O dicionário também é uma **coleção de dados**. 

A diferença é que um dicionário é definido a partir de **dois elementos**: uma **chave** e um **valor**.

- A **chave** é uma string ou int que é utilizada como se fosse um índice, identificando os respectivos valores.

- O **valor** pode ser qualquer dado: um int, um float, uma str, um bool, uma lista, uma tupla, outro dicionário...

Dicionários são indicados **entre chaves {}** segundo a estrutura:
```python
dicionario = {"chave": valor}
```

In [1]:
# Definindo um dicionário
# Formato
# {
#     "chave": valor,
#     "chave": valor,
#     "chave": valor,
# }
# Valores de um dicionário pode ser qualquer objeto!
dicionario_do_fulano = {
    'nome': 'Fulano',
    'idade': 32,
    'cidade': 'BH',
    'filhos': 0,
    'altura': 1.42
}
dicionario_do_fulano

{'nome': 'Fulano', 'idade': 32, 'cidade': 'BH', 'filhos': 0, 'altura': 1.42}

Podemos acessar os valores do dicionário a partir das chaves

In [2]:
dicionario_do_fulano['cidade']

'BH'

In [3]:
dicionario_do_fulano['nome']

'Fulano'

In [4]:
# Criando um dicionário de cadastros
cadastro = {
    'nomes': ['Joãozinho', 'Mariazinha'],
    'idades': [32, 25],
    'cidades': ['Maua', 'Santo André'],
    'filhos': [0, 0],
    'alturas': [1.80, 1.65]
}

In [5]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Maua', 'Santo André'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

In [6]:
cadastro['nomes']

['Joãozinho', 'Mariazinha']

In [7]:
cadastro['alturas']

[1.8, 1.65]

Poderíamos, ao invés de um dicionário, usar uma lista de listas, como abaixo. 

Porém, neste caso, fica bem menos intuitivo quando queremos selecionar os elementos que representam nomes ou cidades, porque somos obrigado a usar números para indexar, ao invés das chaves.

In [8]:
cadastro = {
    'nomes': ['Joãozinho', 'Mariazinha'],
    'idades': [32, 25],
    'cidades': ['Maua', 'Santo André'],
    'filhos': [0, 0],
    'alturas': [1.80, 1.65]
}

In [9]:
nomes = ['Joãozinho', 'Mariazinha']
idades = [32, 25]
alturas = [1.80, 1.65]

In [10]:
cadastro_listas = [
    nomes,
    idades,
    alturas
]

In [11]:
cadastro_listas

[['Joãozinho', 'Mariazinha'], [32, 25], [1.8, 1.65]]

In [12]:
# Pegando altura do Joãozinho utilizando listas de listas
cadastro_listas[2][0]

1.8

In [13]:
# Pegando a altura de Joãozinho com dicionários
cadastro['alturas'][0]

1.8

Para adicionar elementos ao dicionário, não precisamos de uma função pronta (como o append das listas). 

Basta definir a nova chave como uma variável, e atribuir um novo valor a ela:

In [14]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Maua', 'Santo André'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

In [15]:
# Adicionando uma nova chave no dicionário `cadastro`
cadastro['pets'] = ['Bia', 'Luiza']

In [16]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Maua', 'Santo André'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65],
 'pets': ['Bia', 'Luiza']}

In [17]:
# Realizar a mesma operação com a lista de listas
cadastro_listas.append(['Bia', 'Luiza'])

In [18]:
# Automaticamente o elemento criado é adicionado no fim da lista!
cadastro_listas

[['Joãozinho', 'Mariazinha'], [32, 25], [1.8, 1.65], ['Bia', 'Luiza']]

**Drops**

Adicione o par chave-valor "cor": "azul: no dicionário `carro` abaixo

In [19]:
carro = {
    'marca': "Toyota",
    'modelo': "Yaris",
    "ano": 1964
}
carro['cor'] = 'azul' # PREENCHA AQUI!

print(carro)

{'marca': 'Toyota', 'modelo': 'Yaris', 'ano': 1964, 'cor': 'azul'}

__Para apagar uma chave, utilize o "pop"__

In [20]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Maua', 'Santo André'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65],
 'pets': ['Bia', 'Luiza']}

In [21]:
pets = cadastro.pop('pets')

In [22]:
pets

['Bia', 'Luiza']

In [23]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Maua', 'Santo André'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

__Ou, utilize o "del"__

In [24]:
cadastro['pets'] = pets
print(cadastro)
del cadastro['pets']
print('Dicionário após o `del`')
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'], 'idades': [32, 25], 'cidades': ['Maua', 'Santo André'], 'filhos': [0, 0], 'alturas': [1.8, 1.65], 'pets': ['Bia', 'Luiza']}
Dicionário após o `del`

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Maua', 'Santo André'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

**Drops**

Remova o campo (chave) "modelo" do dicionário `carro` abaixo

In [25]:
carro = {
    'marca': "Toyota",
    'modelo': "Yaris",
    "ano": 1964
}
# carro.pop('modelo')
del carro['modelo']

print(carro)

{'marca': 'Toyota', 'ano': 1964}

Alterar os valores também é possível:

Posso também alterar elementos individuais dos valores, os indexando

(Lembre-se que, neste caso, os valores são listas! Então, devo indexá-las para alterar seus elementos!)

In [26]:
cadastro['cidades'] = ['Paris', 'Londres']

In [27]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Paris', 'Londres'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

In [28]:
# Alteração indevida de valor
cadastro['cidades'] = 1
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': 1,
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

In [29]:
cadastro['cidades'] = ['Paris', 'Londres']
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Paris', 'Londres'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

In [30]:
cadastro['cidades'][0] = 'São Paulo'

In [31]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['São Paulo', 'Londres'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

In [32]:
cadastro['trabalho'] = ('Dentista', 'Cientista de Dados')
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['São Paulo', 'Londres'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65],
 'trabalho': ('Dentista', 'Cientista de Dados')}

In [33]:
cadastro['trabalho'][0] = 'Engenheiro'

TypeError: ignored

In [34]:
print(cadastro)

{'nomes': ['Joãozinho', 'Mariazinha'], 'idades': [32, 25], 'cidades': ['São Paulo', 'Londres'], 'filhos': [0, 0], 'alturas': [1.8, 1.65], 'trabalho': ('Dentista', 'Cientista de Dados')}

**Drops**

Modifique o ano de fabricação (campo `ano`) de 1964 para 2020 no dicionário abaixo

In [35]:
carro = {
    'marca': "Toyota",
    'modelo': "Yaris",
    "ano": 1964
}
carro['ano'] = 2020 # PREENCHA AQUI!

print(carro)

{'marca': 'Toyota', 'modelo': 'Yaris', 'ano': 2020}

Para adicionar novos elementos aos valores (que são listas), usamos o append:

In [36]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['São Paulo', 'Londres'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65],
 'trabalho': ('Dentista', 'Cientista de Dados')}

In [37]:
cadastro['trabalho'] = ['Dentista', 'Cientista de Dados']
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['São Paulo', 'Londres'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65],
 'trabalho': ['Dentista', 'Cientista de Dados']}

In [38]:
cadastro['nomes'].append('Fulano')
cadastro['idades'].append(22)
cadastro['cidades'].append('Rio')
cadastro['filhos'].append(3)
cadastro['alturas'].append(1.75)
cadastro['trabalho'].append('Engenheiro')

In [39]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'alturas': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de Dados', 'Engenheiro']}

In [40]:
nome, idade = cadastro['nomes'][1], cadastro['idades'][1]
print(nome, idade)

Mariazinha 25

Dicionários podem ser percorridos com um for. 

Ao fazer isso, **as chaves serão percorridas** 

Porém, a partir da chave obtém-se o valor:

In [41]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'alturas': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de Dados', 'Engenheiro']}

In [42]:
for chave in cadastro:
  print(chave)

nomes
idades
cidades
filhos
alturas
trabalho

In [43]:
cadastro['nomes']

['Joãozinho', 'Mariazinha', 'Fulano']

In [44]:
for chave in cadastro:
  print(f'chave={chave}, valor={cadastro[chave]}')

chave=nomes, valor=['Joãozinho', 'Mariazinha', 'Fulano']
chave=idades, valor=[32, 25, 22]
chave=cidades, valor=['São Paulo', 'Londres', 'Rio']
chave=filhos, valor=[0, 0, 3]
chave=alturas, valor=[1.8, 1.65, 1.75]
chave=trabalho, valor=['Dentista', 'Cientista de Dados', 'Engenheiro']

In [45]:
for chave in cadastro:
  print('chave=', chave)
  for i, elemento in enumerate(cadastro[chave]):
    print('index:', i, 'valor:', elemento)
  print('-'*32)

chave= nomes
index: 0 valor: Joãozinho
index: 1 valor: Mariazinha
index: 2 valor: Fulano
--------------------------------
chave= idades
index: 0 valor: 32
index: 1 valor: 25
index: 2 valor: 22
--------------------------------
chave= cidades
index: 0 valor: São Paulo
index: 1 valor: Londres
index: 2 valor: Rio
--------------------------------
chave= filhos
index: 0 valor: 0
index: 1 valor: 0
index: 2 valor: 3
--------------------------------
chave= alturas
index: 0 valor: 1.8
index: 1 valor: 1.65
index: 2 valor: 1.75
--------------------------------
chave= trabalho
index: 0 valor: Dentista
index: 1 valor: Cientista de Dados
index: 2 valor: Engenheiro
--------------------------------

In [46]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'alturas': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de Dados', 'Engenheiro']}

In [47]:
cadastro['numero_cadastros'] = len(cadastro['nomes'])

In [48]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'alturas': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de Dados', 'Engenheiro'],
 'numero_cadastros': 3}

In [49]:
for chave in cadastro:
  print('chave=', chave)
  valor = cadastro[chave]
  if isinstance(valor, (tuple, list)):
    for i, elemento in enumerate(cadastro[chave]):
      print('index:', i, 'valor:', elemento)
  elif isinstance(valor, (int, float)):
    print('O número é:', valor)
  elif isinstance(valor, str):
    print('A string é:', valor)
  print('-'*32)

chave= nomes
index: 0 valor: Joãozinho
index: 1 valor: Mariazinha
index: 2 valor: Fulano
--------------------------------
chave= idades
index: 0 valor: 32
index: 1 valor: 25
index: 2 valor: 22
--------------------------------
chave= cidades
index: 0 valor: São Paulo
index: 1 valor: Londres
index: 2 valor: Rio
--------------------------------
chave= filhos
index: 0 valor: 0
index: 1 valor: 0
index: 2 valor: 3
--------------------------------
chave= alturas
index: 0 valor: 1.8
index: 1 valor: 1.65
index: 2 valor: 1.75
--------------------------------
chave= trabalho
index: 0 valor: Dentista
index: 1 valor: Cientista de Dados
index: 2 valor: Engenheiro
--------------------------------
chave= numero_cadastros
O número é: 3
--------------------------------

Uma utilidade disso é para pegar os dados respectivos de cada elemento do cadastro:

In [50]:
cadastro.pop('numero_cadastros')
cadastro

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'alturas': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de Dados', 'Engenheiro']}

In [51]:
cadastro['nomes'].index('Fulano')

2

In [52]:
cadastro['filhos'].index(0)

0

In [55]:
nome = 'Joãozinho'
dados = []
index = cadastro['nomes'].index(nome)
for chave in cadastro:
  print("chave", chave)
  valor = cadastro[chave][index]
  print("valor", valor)
  dados.append(valor)

chave nomes
valor Joãozinho
chave idades
valor 32
chave cidades
valor São Paulo
chave filhos
valor 0
chave alturas
valor 1.8
chave trabalho
valor Dentista

In [56]:
dados

['Joãozinho', 32, 'São Paulo', 0, 1.8, 'Dentista']

In [60]:
def pega_dados(cadastro, campo, valor):
  dados = []
  index = cadastro[campo].index(valor)
  for chave in cadastro:
    valor = cadastro[chave][index]
    dados.append(valor)
  return tuple(dados)

In [62]:
resultado = pega_dados(cadastro, 'nomes', 'Fulano')

In [63]:
resultado

('Fulano', 22, 'Rio', 3, 1.75, 'Engenheiro')

Mas também é possível acessar apenas os valores do dicionário com o método `values()`

In [72]:
nome = 'Fulano'
dados = []
index = cadastro['nomes'].index(nome)

for valor in cadastro.values():
  dados.append(valor[index])
  
dados = tuple(dados)
print(dados)

('Fulano', 22, 'Rio', 3, 1.75, 'Engenheiro')

É possível obter chaves e valores separadamente.

Para isso, usamos os métodos `keys()` e `values()`.

In [75]:
print('chaves:', cadastro.keys())

print('-'*32)

print('valores:', cadastro.values())

chaves: dict_keys(['nomes', 'idades', 'cidades', 'filhos', 'alturas', 'trabalho'])
--------------------------------
valores: dict_values([['Joãozinho', 'Mariazinha', 'Fulano'], [32, 25, 22], ['São Paulo', 'Londres', 'Rio'], [0, 0, 3], [1.8, 1.65, 1.75], ['Dentista', 'Cientista de Dados', 'Engenheiro']])

E esses valores podem ser transformados em listas com a função `list()`

In [82]:
print('chaves:', list(cadastro.keys()))

print('-'*32)

print('valores:', list(cadastro.values()))

chaves: ['nomes', 'idades', 'cidades', 'filhos', 'alturas', 'trabalho']
--------------------------------
valores: [['Joãozinho', 'Mariazinha', 'Fulano'], [32, 25, 22], ['São Paulo', 'Londres', 'Rio'], [0, 0, 3], [1.8, 1.65, 1.75], ['Dentista', 'Cientista de Dados', 'Engenheiro']]

In [87]:
# dict.items() retorna uma tupla
for item in cadastro.items():
  print(f'item={item}')
  print('-'*32)

item=('nomes', ['Joãozinho', 'Mariazinha', 'Fulano'])
--------------------------------
item=('idades', [32, 25, 22])
--------------------------------
item=('cidades', ['São Paulo', 'Londres', 'Rio'])
--------------------------------
item=('filhos', [0, 0, 3])
--------------------------------
item=('alturas', [1.8, 1.65, 1.75])
--------------------------------
item=('trabalho', ['Dentista', 'Cientista de Dados', 'Engenheiro'])
--------------------------------

In [89]:
# Desempacotando a tupla proveniente do `dict.items()` em (<chave>, <valor>)
for k, v in cadastro.items():
  print(f'chave={k}')
  print(f'valor={v}')
  print('-'*32)

chave=nomes
valor=['Joãozinho', 'Mariazinha', 'Fulano']
--------------------------------
chave=idades
valor=[32, 25, 22]
--------------------------------
chave=cidades
valor=['São Paulo', 'Londres', 'Rio']
--------------------------------
chave=filhos
valor=[0, 0, 3]
--------------------------------
chave=alturas
valor=[1.8, 1.65, 1.75]
--------------------------------
chave=trabalho
valor=['Dentista', 'Cientista de Dados', 'Engenheiro']
--------------------------------

In [91]:
for k, (primeiro, segundo, terceiro) in cadastro.items():
  print(f'chave={k}')
  print('primeiro',primeiro)
  print('segundo',segundo)
  print('terceiro',terceiro)
  print('-'*32)

chave=nomes
primeiro Joãozinho
segundo Mariazinha
terceiro Fulano
--------------------------------
chave=idades
primeiro 32
segundo 25
terceiro 22
--------------------------------
chave=cidades
primeiro São Paulo
segundo Londres
terceiro Rio
--------------------------------
chave=filhos
primeiro 0
segundo 0
terceiro 3
--------------------------------
chave=alturas
primeiro 1.8
segundo 1.65
terceiro 1.75
--------------------------------
chave=trabalho
primeiro Dentista
segundo Cientista de Dados
terceiro Engenheiro
--------------------------------

In [94]:
for k, (primeiro, *resto) in cadastro.items():
  print(f'chave={k}')
  print('primeiro',primeiro)
  print('resto', resto)
  print('-'*32)

chave=nomes
primeiro Joãozinho
resto ['Mariazinha', 'Fulano']
--------------------------------
chave=idades
primeiro 32
resto [25, 22]
--------------------------------
chave=cidades
primeiro São Paulo
resto ['Londres', 'Rio']
--------------------------------
chave=filhos
primeiro 0
resto [0, 3]
--------------------------------
chave=alturas
primeiro 1.8
resto [1.65, 1.75]
--------------------------------
chave=trabalho
primeiro Dentista
resto ['Cientista de Dados', 'Engenheiro']
--------------------------------

In [99]:
nome = 'Joãozinho'
index = cadastro['nomes'].index(nome)
dados_lista = []
for chave, valor in cadastro.items():
  dados_lista.append((chave, valor[index]))

dados_lista

[('nomes', 'Joãozinho'),
 ('idades', 32),
 ('cidades', 'São Paulo'),
 ('filhos', 0),
 ('alturas', 1.8),
 ('trabalho', 'Dentista')]

In [100]:
nome = 'Joãozinho'
index = cadastro['nomes'].index(nome)
dados_dict = {}
for chave, valor in cadastro.items():
  dados_dict[chave] = valor[index]
  print(dados_dict)
  print('-'*32)

dados_dict

{'nomes': 'Joãozinho'}
--------------------------------
{'nomes': 'Joãozinho', 'idades': 32}
--------------------------------
{'nomes': 'Joãozinho', 'idades': 32, 'cidades': 'São Paulo'}
--------------------------------
{'nomes': 'Joãozinho', 'idades': 32, 'cidades': 'São Paulo', 'filhos': 0}
--------------------------------
{'nomes': 'Joãozinho', 'idades': 32, 'cidades': 'São Paulo', 'filhos': 0, 'alturas': 1.8}
--------------------------------
{'nomes': 'Joãozinho', 'idades': 32, 'cidades': 'São Paulo', 'filhos': 0, 'alturas': 1.8, 'trabalho': 'Dentista'}
--------------------------------

{'nomes': 'Joãozinho',
 'idades': 32,
 'cidades': 'São Paulo',
 'filhos': 0,
 'alturas': 1.8,
 'trabalho': 'Dentista'}

In [102]:
dados_lista[1][1]

32

In [103]:
dados_dict['idades']

32

**Verificando a existência de uma chave**

Queremos adicionar uma nova chave no dicionário acima. Por exemplo renda.
Há como inserir os três salários ao mesmo tempo como vimos acima.
Mas por outro lado, podemos inserir de forma sequencial, um valor de cada vez

Como realizar tal operação?

In [104]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'alturas': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de Dados', 'Engenheiro']}

In [124]:
# Cadastro de renda
for nome in cadastro['nomes']:
  renda = float(input(f'Insira a renda de {nome}: '))
  cadastro['rendas'] = renda

Insira a renda de Joãozinho: 1500
Insira a renda de Mariazinha: 3000
Insira a renda de Fulano: 4500

In [125]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'alturas': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de Dados', 'Engenheiro'],
 'rendas': 4500.0}

No exemplo acima, temos um erro, o campo `rendas` ficou apenas com um valor!

O comportamento que esperavamos era uma lista de valores, representando um valor por pessoa.

**O primeiro passo consiste em verificar se uma chave existe no dicionário**

In [127]:
cadastro.pop('rendas')

4500.0

In [128]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'alturas': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de Dados', 'Engenheiro']}

In [129]:
# Quando perguntamos se uma chave está presente na chaves de um dicionário
# Retornamos um booleano (True/False)
# No caso de `nomes` retorna...
print('nomes' in cadastro.keys())
# No caso de `rendas` retorna...
print('rendas' in cadastro.keys())

True
False

In [130]:
# cadastro de renda
for nome in cadastro['nomes']:
  renda = float(input(f'Insira a renda de {nome}: '))

  if 'rendas' in cadastro.keys(): # True or False -> Se True entra no `if`
    # Adicionando um valor para a chave `rendas
    cadastro['rendas'].append(renda)
  else: # Se False entra aqui
    # Criando uma chave `rendas` com o primeiro valor sendo uma lista com um único elemento
    cadastro['rendas'] = [renda]

cadastro

Insira a renda de Joãozinho: 1500
Insira a renda de Mariazinha: 3000
Insira a renda de Fulano: 4500

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'alturas': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de Dados', 'Engenheiro'],
 'rendas': [1500.0, 3000.0, 4500.0]}

In [131]:
# cadastro de renda
lista_rendas = []
for nome in cadastro['nomes']:
  renda = float(input(f'Insira a renda de {nome}: '))
  lista_rendas.append(renda)

cadastro['rendas'] = lista_rendas

cadastro

Insira a renda de Joãozinho: 3000
Insira a renda de Mariazinha: 6000
Insira a renda de Fulano: 9000

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'alturas': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de Dados', 'Engenheiro'],
 'rendas': [3000.0, 6000.0, 9000.0]}

Outra forma de acessar os valores do dicionário é utilizando o método `get`

In [132]:
cadastro['nomes']

['Joãozinho', 'Mariazinha', 'Fulano']

In [133]:
cadastro.get('nomes')

['Joãozinho', 'Mariazinha', 'Fulano']

A vantagem do método `get` é quando tentamos acessar uma chave que não está presente no dicionário

In [134]:
cadastro['pets']

KeyError: ignored

In [139]:
print(cadastro.get('pets'))

None

A estrutura do `get` é `get(<chave>, <default>)`

Ou seja, podemos definir um valor padrão caso a chave não esteja presente

In [141]:
cadastro.get('nomes')

['Joãozinho', 'Mariazinha', 'Fulano']

In [ ]:
cadastro.get('pets', [])

**Drops**

Utilize o método `get` de dicionário para imprimir o valor da chave "cor" de ambos os dicionários (carro_toyota, carro_ford), e caso a chave não esteja presente retorne o valor preto.

In [151]:
carro_toyota = {
    "modelo": "Yaris",
    "marca": "Toyota",
    "ano": 2020
}

carro_ford = {
    "modelo": "Mustang",
    "marca": "Ford",
    "ano": 1964,
    "cor": "amarelo"
}

print('toyota', carro_toyota.get('cor', 'preto'))
print('ford', carro_ford.get('cor', 'preto'))

toyota preto
ford amarelo

**Atualização de dicionários**

In [165]:
carro_1 = {
    "modelo": "Yaris",
    "marca": "Toyota",
    "ano": 2020
}

carro_2 = {
    "cor": "amarelo"
}

In [166]:
# Utilizamos o metodo `update` para atualizar o primeiro dicionário (da esquerda)
carro_1.update(carro_2)

In [167]:
carro_1

{'modelo': 'Yaris', 'marca': 'Toyota', 'ano': 2020, 'cor': 'amarelo'}

In [171]:
carro_1 = {
    "modelo": "Yaris",
    "marca": "Toyota",
    "ano": 2020
}

carro_2 = {
    "cor": "amarelo",
    "ano": 2016
}

In [172]:
# Neste caso o `ano` existe nos dois dicionários
# o valor dos campos com mesma chave são substituidos pelos valores do dicionário da direita
carro_1.update(carro_2)

In [173]:
carro_1

{'modelo': 'Yaris', 'marca': 'Toyota', 'ano': 2016, 'cor': 'amarelo'}

**Desafio**
Modifique a função cadastrar_usuario abaixo em que serão coletados as seguintes informações a partir da entrada da pessoa usuária:

- CPF (essa será a chave)
- Nome
- Idade
- Sexo
- Renda
- Estado

1-) Agora crie uma função que permita descobrir a idade média de pessoas cadastradas pelo sexo (para manter simples, masculino e feminino, representado por m e f, respectivamente (output: (('m', media_masc), ('f', media_fem))).

2-) Crie uma função que mostre a quantidade de pessoas por sexo (output: (('m', qtd_masc), ('f', qtd_fem))).


3-) Crie uma função que filtre os dados por estado (output: cadastros filtrado)

4-) Crie uma função que permita deletar um cadastro por CPF (output: cadastros)


```

def cadastrar_usuario():
  continuar_cadastro = True

  cadastros = {}
  while continuar_cadastro:
    ...

def calcule_media_idade_por_sexo():
  ...

def conte_quantidade_por_sexo():
  ...

def filtre_dados():
  ...

def delete_cadastro():
  ...
```

In [174]:
def cadastrar_usuario():
  continuar_cadastro = True

  cadastros = {}
  while continuar_cadastro:
    ...

def calcule_media_idade_por_sexo():
  ...

def conte_quantidade_por_sexo():
  ...

def filtre_dados():
  ...

def delete_cadastro():
  ...

**Desafio**

Escreva um programa que pergunte uma string para a pessoa usuária e retorne um dicionário cujas chaves são os caracteres da string de entrada e os valores a ocorrência de cada caracter na string.

Por exemplo:

Na string `language` o programa deve retornar o dicionário:

```python
{'l': 1, 'a': 2, 'n': 1, 'g': 2, 'e': 1}
```

**Desafio**

Escreva um programa que aceite um inteiro (k) e retorne um dicionário em que a chave é um inteiro de 1 até o valor (k) e os valores são o fatorial desses (1!, 2!, ..., k!).

Por exemplo:  
Entrada k=1
```
{1: 1!}
```

Entrada k=2
```
{1: 1!,
 2: 2!}
```

Entrada k=5
```
{1: 1!,
 2: 2!,
 3: 3!,
 4: 4!,
 5: 5!}
```

Considere que temos um dicionário de tamanho N.

Com os nomes sendo as chaves e as notas sendo os valores

```
{'Alex': [10, 5, 3],
 'Maria': [5, 7, 6.5],
 ...}
```
Escreva um programa que pegue esse dicionário e retorne um novo dicionário com as chaves sendo os nomes dos estudantes e os valores a média de suas notas:

```
{'Alex': 6.0,
 'Maria': 6.16
 ...
```

# Questão 1
Crie um dicionário cujas chaves são os meses do ano e os valores são a duração (em dias) de cada mês.

In [1]:
months = {'January':31,'February':28,'March':31,'April':30,'May':31,'June':30,'July':31,'August':31,'September':30,'October':31,'November':30,'December':31}

# Questão 2
Enunciado

Imprima as chaves seguidas dos seus valores para dicionário criado no exercício anterior.

Exemplo:

Janeiro - 31

Fevereiro - 28

Março - 31

Etc...

In [3]:
for key in months:
    print(f'{key} - {months[key]}')

January - 31
February - 28
March - 31
April - 30
May - 31
June - 30
July - 31
August - 31
September - 30
October - 31
November - 30
December - 31

# Questão 3
Crie um dicionário para as seguintes relações:

‘Banana’: 3.0

‘Cebola’: 4.0

‘Maçã’: 5.7

‘Abacaxi’: 8.0

In [4]:
price = {'Banana': 3.0,'Cebola': 4.0,'Maçã': 5.7,'Abacaxi': 8.0}

# Questão 4
Altere o valor da chave ‘Maçã’ no dicionário do exercício anterior para 8.6.

In [5]:
price['Maçã'] = 8.6

# Questão 5
Crie uma função que receba os valores do nome, idade e e-mail de uma pessoa e guarde-os em um dicionário com as chaves ‘nome’, ‘idade’ e ‘email’, respectivamente. Sua função deve retornar esse dicionário.

In [7]:
def register():
    name = input('Digite o nome: ')
    age = int(input('Digite a idade: '))
    email = input('Digite o email: ')
    
    return {'name':name,'age':age, 'email':email}

In [8]:
register()

Digite o nome:  B
Digite a idade:  22
Digite o email:  bruno@mail.com

{'name': 'B', 'age': 22, 'email': 'bruno@mail.com'}

# Questão 6
Como você armazenaria a seguinte tabela usando apenas dicionários? Tente imprimir o valor correspondente da linha Pedro x Coluna B.
|       | Coluna A | Coluna B |
|-------|:----:|:--------:|
| Maria |  1   |        5 |
| Pedro |  0.5 |        3 |
| João  |  3.2 |        2 |

In [9]:
data = {'name':['Maria','Pedro','João'],'column A':[1.0, 0.5, 3.2],'column B':[5,3,2]}

# Questão 7
Faça um programa que conte quantas vezes cada elemento aparece em uma lista (pode criar uma lista na mão). Esse programa deverá guardar os dados em um dicionário no qual as chaves são os elementos da lista e os valores são a contagem de quantas vezes esse elemento aparece.

In [12]:
string = 'hefjefe5f41ass54qkqjq8vv93s35g56agdhr98ethe2e9yuii6joqlqknfv23s6a3a3q8r7tdd1d3d5ntjl'
lst_str = list(string)
count_dict = dict()
for key in lst_str:
    count_dict[key] = count_dict.get(key,0)+1
print(count_dict)

{'h': 3, 'e': 6, 'f': 4, 'j': 4, '5': 5, '4': 2, '1': 2, 'a': 4, 's': 4, 'q': 6, 'k': 2, '8': 3, 'v': 3, '9': 3, '3': 6, 'g': 2, '6': 3, 'd': 5, 'r': 2, 't': 3, '2': 2, 'y': 1, 'u': 1, 'i': 2, 'o': 1, 'l': 2, 'n': 2, '7': 1}

# Questão 8
Faça um programa que fique pedindo uma resposta do usuário, entre 1, 2 e 3. Se o usuário digitar 1, o programa deve cadastrar um novo usuário e guardar esse cadastro num dicionário cuja chave será o CPF da pessoa. Quando o usuário digitar 2, o programa deve imprimir os usuários cadastrados; e se o usuário digitar 3, o programa deve fechar.

Exemplo do dicionário:

pri
    ‘987.654.321-00’: {‘nome’: Maria, ‘idade’: 20, ‘email’ :  maria@mail.com}n

In [18]:
registers = dict()
option = 1
while 0 < option < 3:
    option = int(input('Digite 1 para cadastrar novo usuário, 2 para imprimir cadastros e 3 para fechar: '))
    if option == 1:
        register = dict()
        cpf = input('Digite o CPF: ')
        name = input('Digite o nome: ')
        register['name'] = name
        age = int(input('Digite a idade: '))
        register['age'] = age
        email = input('Digite o email: ')
        register['email'] = email
        registers[cpf] = register
    elif option == 2:
        print(registers)

Digite 1 para cadastrar novo usuário, 2 para imprimir cadastros e 3 para fechar:  1
Digite o CPF:  234.698.987-68
Digite o nome:  fulano
Digite a idade:  25
Digite o email:  fulano@mail.com
Digite 1 para cadastrar novo usuário, 2 para imprimir cadastros e 3 para fechar:  1
Digite o CPF:  568.987.589-98
Digite o nome:  sicrano
Digite a idade:  27
Digite o email:  sicrano@mail.com
Digite 1 para cadastrar novo usuário, 2 para imprimir cadastros e 3 para fechar:  2

{'234.698.987-68': {'name': 'fulano', 'age': 25, 'email': 'fulano@mail.com'}, '568.987.589-98': {'name': 'sicrano', 'age': 27, 'email': 'sicrano@mail.com'}}

Digite 1 para cadastrar novo usuário, 2 para imprimir cadastros e 3 para fechar:  3

# Questão 9
Implemente um sistema de busca para o programa do exercício anterior. Isto é, se o usuário digitar 4, procure um determinado usuário pelo seu CPF.

In [ ]:
registers = dict()
option = 1
while 0 < option < 4:
    option = int(input('Digite 1 para cadastrar novo usuário, 2 para imprimir cadastros, 3 para mostrar dados e 4 para fechar: '))
    if option == 1:
        register = dict()
        cpf = input('Digite o CPF: ')
        name = input('Digite o nome: ')
        register['name'] = name
        age = int(input('Digite a idade: '))
        register['age'] = age
        email = input('Digite o email: ')
        register['email'] = email
        registers[cpf] = register
    elif option == 2:
        print(registers)
    elif option == 3:
        cpf = input('Digite o CPF: ')
        print(registers[cpf])

# Questão 10

Desafio Modifique a função cadastrar_usuario abaixo em que serão coletados as seguintes informações a partir da entrada da pessoa usuária:

    CPF (essa será a chave)
    Nome
    Idade
    Sexo
    Renda
    Estado

1-) Agora crie uma função que permita descobrir a idade média de pessoas cadastradas pelo sexo (para manter simples, masculino e feminino, representado por m e f, respectivamente (output: (('m', media_masc), ('f', media_fem))).

2-) Crie uma função que mostre a quantidade de pessoas por sexo (output: (('m', qtd_masc), ('f', qtd_fem))).

3-) Crie uma função que filtre os dados por estado (output: cadastros filtrado)

4-) Crie uma função que permita deletar um cadastro por CPF (output: cadastros)

In [35]:
from collections import namedtuple
Person = namedtuple('Person',['name','age','sex', 'wage','state'])

def cadastrar_usuario():  
    option = input('Deseja realizar cadastro? ')
    dict_register = {}
    while option.lower() in ['s','sim','y','yes']:
        data_user = []
        cpf = input('CPF: ')
        while len(cpf) != 11:
            cpf = int(input('CPF inválido. CPF: '))
        
        name = input('Nome: ')
        
        age = int(input('Idade: '))
        while age < 0:
            age = int(input('Valor de idade inválido. Idade: '))
        
        sex = input('Sexo: ')
        while (sex.lower() not in ['m','f','masculino','feminino','male','female']):
            sex = input('Entrada Inválida. Sexo: ')
        
        wage = float(input('Renda: '))
        while wage < 0:
            wage = input('Entrada Inválida. Renda: ')
            
        state = input('Estado: ').lower()
        
        person = Person(name,age,sex,wage,state)
        dict_register[cpf] = person
        
        option = input('Deseja realizar novo cadastro? ')
        
    return dict_register

def calcule_media_idade_por_sexo(registers: dict)-> tuple:
    acc_m = 0
    count_m = 0
    acc_f = 0
    count_f = 0
    for person in registers.values():
        if person.sex in ['m','masculino','male']:
            acc_m += person.age
            count_m += 1
        elif person.sex in ['f','feminino','female']:
            acc_f += person.age
            count_f += 1
    lst = []
    if count_m > 0:
        lst.append(('m',acc_m/count_m))
    if count_f > 0:
        lst.append(('f',acc_f/count_f))
    return tuple(lst)

def calculate_number_per_sex(registers: dict)-> tuple:
    count_m = 0
    count_f = 0
    for person in registers.values():
        if person.sex in ['m','masculino','male']:
            count_m += 1
        elif person.sex in ['f','feminino','female']:
            count_f += 1
            
    return ('m',count_m),('f',count_f)

def filter_by_state(registers,state):
    return {cpf:person for cpf, person in registers.items() if person.state == state.lower()}

def delete_user(registers,cpf):
    if cpf in registers.keys():
        registers.pop(cpf)
    return registers

In [23]:
registers = cadastrar_usuario()

Deseja realizar cadastro?  s
CPF:  12345678989
Nome:  A
Idade:  26
Sexo:  m
Renda:  168
Estado:  rn
Deseja realizar novo cadastro?  s
CPF:  12378945656
Nome:  B
Idade:  87
Sexo:  f
Renda:  16855
Estado:  RN
Deseja realizar novo cadastro?  s
CPF:  78945612323
Nome:  C
Idade:  45
Sexo:  m
Renda:  4575
Estado:  SP
Deseja realizar novo cadastro?  s
CPF:  78945632121
Nome:  D
Idade:  56
Sexo:  m
Renda:  8576
Estado:  SP
Deseja realizar novo cadastro?  n

In [37]:
# registers = cadastrar_usuario()
print(calcule_media_idade_por_sexo(registers))
print(calculate_number_per_sex(registers))
print(filter_by_state(registers,'RN'))
print(delete_user(registers,'12345678989'))

(('m', 50.5), ('f', 87.0))
(('m', 2), ('f', 1))
{'12378945656': Person(name='B', age=87, sex='f', wage=16855.0, state='rn')}
{'12378945656': Person(name='B', age=87, sex='f', wage=16855.0, state='rn'), '78945612323': Person(name='C', age=45, sex='m', wage=4575.0, state='sp'), '78945632121': Person(name='D', age=56, sex='m', wage=8576.0, state='sp')}

# Questão 11
Escreva um programa que aceite um inteiro (k) e retorne um dicionário em que a chave é um inteiro de 1 até o valor (k) e os valores são o fatorial desses (1!, 2!, ..., k!).

Por exemplo:
Entrada k=1

{1: 1!}

Entrada k=2

{1: 1!,
 2: 2!}

Entrada k=5

{1: 1!,
 2: 2!,
 3: 3!,
 4: 4!,
 5: 5!}

In [48]:
k = int(input('Digite um número para cálculo de fatorial: '))

fatorials = dict()
for i in range(1,k+1):
    fatorials[i] = fatorials.get(i-1,1) * i

print(fatorials)

Digite um número para cálculo de fatorial:  6

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720}

# Questão 12

Considere que temos um dicionário de tamanho N.

Com os nomes sendo as chaves e as notas sendo os valores

{'Alex': [10, 5, 3],
 'Maria': [5, 7, 6.5],
 ...}

Escreva um programa que pegue esse dicionário e retorne um novo dicionário com as chaves sendo os nomes dos estudantes e os valores a média de suas notas:

{'Alex': 6.0,
 'Maria': 6.16
 ...

In [44]:
import statistics as st
N = 3

grades_students = {}
for i in range(N):
    student = input('Nome do estudante: ')
    grades = input('Notas separadas por vírgula: ').split(',')
    grades = [float(grade) for grade in grades]
    grades_students[student] = grades

{ k: st.mean(v) for k,v in grades_students.items()}

Nome do estudante:  Bruno
Notas separadas por vírgula:  5.0,10.0,9.0
Nome do estudante:  A
Notas separadas por vírgula:  10.0,10.0,6.0
Nome do estudante:  C
Notas separadas por vírgula:  8.5,9.6,5.9

{'Bruno': 8.0, 'A': 8.666666666666666, 'C': 8.0}

In [46]:
import statistics as st
N = 3

grades_students = {input('Nome do estudante: ') : [float(grade) for grade in input('Notas separadas por vírgula: ').split(',')] for i in range(N)}

{ k: st.mean(v) for k,v in grades_students.items()}

Nome do estudante:  Bruno
Notas separadas por vírgula:  5.0,10.0,9.0
Nome do estudante:  A
Notas separadas por vírgula:  10.0,10.0,6.0
Nome do estudante:  C
Notas separadas por vírgula:  8.5,9.6,5.9

{'Bruno': 8.0, 'A': 8.666666666666666, 'C': 8.0}

# Questão 13
Escreva um programa que pergunte uma string para a pessoa usuária e retorne um dicionário cujas chaves são os caracteres da string de entrada e os valores a ocorrência de cada caracter na string.

Por exemplo:

Na string language o programa deve retornar o dicionário:

{'l': 1, 'a': 2, 'n': 1, 'g': 2, 'e': 1}

In [49]:
string = input('Digite uma string: ')
lst_str = list(string)
count_dict = dict()
for key in lst_str:
    count_dict[key] = count_dict.get(key,0)+1
print(count_dict)

Digite uma string:  language

{'l': 1, 'a': 2, 'n': 1, 'g': 2, 'u': 1, 'e': 1}

In [50]:
cadastros = {
982432: {'name': 'Clarice Barbosa', 'sex': 'F', 'idade': 101},
 929103: {'name': 'Yuri Aragão', 'sex': 'M', 'idade': 63},
 930428: {'name': 'Kaique Viana', 'sex': 'M', 'idade': 16},
 547921: {'name': 'Emilly da Luz', 'sex': 'F', 'idade': 2},
 766567: {'name': 'Guilherme Lopes', 'sex': 'M', 'idade': 58},
 514041: {'name': 'Igor Peixoto', 'sex': 'M', 'idade': 16},
 613153: {'name': 'Lívia Lima', 'sex': 'F', 'idade': 10},
 326839: {'name': 'Lucas Pinto', 'sex': 'M', 'idade': 2},
 322292: {'name': 'Maria Farias', 'sex': 'F', 'idade': 58},
 119132: {'name': 'Sr. Daniel Pinto', 'sex': 'M', 'idade': 51},
 436737: {'name': 'Dr. Ian da Conceição', 'sex': 'M', 'idade': 106},
 239127: {'name': 'Bruna Ferreira', 'sex': 'F', 'idade': 81},
 326000: {'name': 'Alícia da Luz', 'sex': 'F', 'idade': 81},
 454248: {'name': 'Sr. Leandro Sales', 'sex': 'M', 'idade': 71},
 656414: {'name': 'Benício Campos', 'sex': 'M', 'idade': 93},
 740236: {'name': 'Bianca da Rosa', 'sex': 'F', 'idade': 59},
 78234: {'name': 'Gabriela Alves', 'sex': 'F', 'idade': 14},
 811343: {'name': 'Raul Castro', 'sex': 'M', 'idade': 5},
 838719: {'name': 'Srta. Bianca Teixeira', 'sex': 'F', 'idade': 16},
 41316: {'name': 'Dra. Marcela Moreira', 'sex': 'F', 'idade': 39},
 547931: {'name': 'Daniela Alves', 'sex': 'F', 'idade': 49},
 945726: {'name': 'Pedro Lucas Rocha', 'sex': 'M', 'idade': 6},
 132689: {'name': 'Enzo Gabriel Melo', 'sex': 'M', 'idade': 110},
 368911: {'name': 'Yasmin Silveira', 'sex': 'F', 'idade': 29},
 13789: {'name': 'Francisco Carvalho', 'sex': 'M', 'idade': 24},
 286652: {'name': 'Vitor Hugo Rezende', 'sex': 'M', 'idade': 16},
 696760: {'name': 'Sophia Moreira', 'sex': 'F', 'idade': 44},
 5293: {'name': 'André da Paz', 'sex': 'M', 'idade': 71},
 452742: {'name': 'Carolina Fogaça', 'sex': 'F', 'idade': 8},
 987830: {'name': 'Joaquim Barbosa', 'sex': 'M', 'idade': 18},
 219271: {'name': 'Calebe da Mota', 'sex': 'M', 'idade': 95},
 583886: {'name': 'Giovanna Ramos', 'sex': 'F', 'idade': 8},
 322316: {'name': 'Ana Luiza Cunha', 'sex': 'F', 'idade': 3},
 731939: {'name': 'Mirella Costela', 'sex': 'F', 'idade': 76},
 396426: {'name': 'Pedro Lucas Freitas', 'sex': 'M', 'idade': 62},
 621867: {'name': 'Letícia Santos', 'sex': 'F', 'idade': 14},
 147939: {'name': 'Julia Rocha', 'sex': 'F', 'idade': 68},
 660287: {'name': 'Sra. Maria Cecília Cavalcanti', 'sex': 'F', 'idade': 66},
 680444: {'name': 'Sra. Emanuelly da Mota', 'sex': 'F', 'idade': 93},
 790899: {'name': 'Luna Fogaça', 'sex': 'F', 'idade': 100}
 }
[value['name']  for value in cadastros.values() if value['idade'] >= 18]

['Clarice Barbosa',
 'Yuri Aragão',
 'Guilherme Lopes',
 'Maria Farias',
 'Sr. Daniel Pinto',
 'Dr. Ian da Conceição',
 'Bruna Ferreira',
 'Alícia da Luz',
 'Sr. Leandro Sales',
 'Benício Campos',
 'Bianca da Rosa',
 'Dra. Marcela Moreira',
 'Daniela Alves',
 'Enzo Gabriel Melo',
 'Yasmin Silveira',
 'Francisco Carvalho',
 'Sophia Moreira',
 'André da Paz',
 'Joaquim Barbosa',
 'Calebe da Mota',
 'Mirella Costela',
 'Pedro Lucas Freitas',
 'Julia Rocha',
 'Sra. Maria Cecília Cavalcanti',
 'Sra. Emanuelly da Mota',
 'Luna Fogaça']

In [52]:
nomes = ['Sofia Silva',
 'Agatha Ferreira',
 'Sra. Sophia Lima',
 'Dr. Cauã Costela',
 'Carlos Eduardo Melo',
 'Ana Beatriz Ramos',
 'Camila Silveira',
 'Catarina da Paz',
 'Laura Melo',
 'Valentina Fogaça',
 'Eduardo Nascimento',
 'Daniel Moraes',
 'Maysa Ribeiro',
 'Dr. Enzo da Rocha',
 'Noah Campos',
 'Lavínia Castro',
 'Pietra Rezende',
 'Ana Beatriz Silva',
 'Fernando da Luz',
 'Maria Cecília Alves',
 'Pietro Aragão',
 'Giovanna da Rosa',
 'Srta. Mirella Jesus',
 'Pedro Henrique Ribeiro',
 'Davi Lucca Dias',
 'Augusto Oliveira',
 'Kaique Mendes',
 'Dra. Mirella Gonçalves',
 'Helena Barbosa',
 'Calebe Farias',
 'Gabrielly Cardoso',
 'Sr. Kevin Fernandes',
 'Kamilly Ramos',
 'Cecília da Cruz',
 'Pietra Aragão',
 'Luiz Gustavo Almeida',
 'Letícia Nascimento']

[len(''.join(nome.split(' '))) for nome in nomes]

[10,
 14,
 14,
 14,
 17,
 15,
 14,
 13,
 9,
 15,
 17,
 12,
 12,
 14,
 10,
 13,
 13,
 15,
 13,
 17,
 12,
 14,
 17,
 20,
 13,
 15,
 12,
 20,
 13,
 12,
 16,
 17,
 12,
 13,
 12,
 18,
 17]